<h1>Users#index</h1>

  <%if current_user%>
    <h2 class="welcome">Welcome, <%= current_user.name %>!</h2>
  <% end %>
    <%if current_user%>
      <%= link_to "Categories", groups_path, class:"app_button standard_button" %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"app_button red_button" %>
    <% else %>
      <%= link_to "Log In", new_user_session_path, class:"app_button green_button" %>
      <%= link_to "Sign Up", new_user_registration_path, class:"app_button standard_button" %>
    <% end %>
