<div class='container' >
  <div class='loginForm-add-new-category'>
        <%= form_with(model: @group) do |f| %>

            <div><%= f.text_field :name, value: @group.name, placeholder: "Enter Category Name", required: true%> </div><br>

            <div >
                <%= f.label :icon, 'Select Icon:', class: "select_icon_label" %>
                <%= f.select :icon, ["ðŸ‘”","ðŸŽµ","ðŸŽ‰","ðŸŽ","ðŸ¼","ðŸ ", "ðŸ¶", "ðŸ»", "ðŸ”"], value: @group.icon, required: true%>
            </div>
            <br>
            <%= f.submit "Save Category", class: 'add-button'%>
        <% end %> 
    </div>
</div>