<h1>Transactions Lists#index</h1>

<% @group.each do |group| %>
     <%= render partial: "shared/group", locals: { group: group } %>
    Item name Amount
     <% group.transactions.order("created_at DESC").each do |t| %>
        <div class="transaction">
          <%= t.name %>
          <%= t.amount %>
        </div>
      <% end %>
    <%= button_to link_to "New Transaction", new_group_transaction_path(group) %>

<% end %>
<%= link_to "Back to Category", groups_path %>