<div class='container' >
  <div class='loginForm-new-transaction'>

      <h2>New Transactions</h2>
       <br>
      <%= form_with model: @transaction, url: group_transactions_path  do |f|%>

        <div class="form_inputs">
          <div>
            <%= f.text_field :name, required: true, placeholder: "Name of New Transaction"%>
          </div>
          <br>
          <div>
            <%= f.number_field :amount, required: true, placeholder: "Price of Items"%>
          </div>

        </div>
        <br>
        <%= f.submit "Add New Transaction", class: "add-button"%>
        <% end %>
        <br>
        <%= link_to "Cancel", group_transactions_path %>
  </div>
</div>